@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 370px;
  max-width: 1530px;
}

header i {
  text-decoration: none;
  color: black;
  font-size: 13px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 35px;
  font-size: 20px;
}

.logo {
  font-size: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Shrikhand', cursive;
  height: 80px;
}

.logo a {
  text-decoration: none;
  height: 46px;
  width: 177px;
  padding-top: 20px;
  color: black;
}

.imagemenu img {
  max-height: 560px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: -100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.titrep3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 6%;
  margin-left: 1%;
}

.titrep3 h1 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-size: 26px;
  font-weight: bold;
}

.etoile {
  margin-top: 12px;
}

.et1 i {
  color: black;
  margin-top: 7px;
  font-size: 28px;
}

.et1 i:hover {
  color: transparent;
}

.et2 {
  color: transparent;
  margin-top: -32.5px;
  font-size: 31px;
  margin-left: -1.4px;
}

.et2:hover .et1 i {
  display: none;
}

.et2:hover {
  color: #9356DC;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.partie3 {
  background-color: #F2F2F2;
  padding-left: 5%;
  padding-top: 25px;
  margin-top: 42px;
  padding-bottom: 35px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  max-width: 1250px;
}

.entree {
  font-size: medium;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 20px;
}

.entree::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 5%;
  top: 119px;
}

.entree2::after {
  content: '';
  width: 39px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 5%;
  top: 419px;
}

.entree3::after {
  content: '';
  width: 47px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 5%;
  bottom: 382px;
}

.case1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.case1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.case3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.case4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.case5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.case6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.case7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.case8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.case9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.contenup1 {
  -webkit-box-shadow: 1px 1px 9px 5px #bcbcbc;
          box-shadow: 1px 1px 9px 5px #bcbcbc;
  background-color: white;
  width: 95%;
  margin-bottom: 23px;
  -webkit-box-shadow: 0px 0px 8px #cdcdcd;
          box-shadow: 0px 0px 8px #cdcdcd;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenup1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
}

.contenup1:hover .menu p {
  white-space: nowrap;
}

@-webkit-keyframes myAnim {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes myAnim {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

.contenup1:hover .validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #99e2d0;
  width: 70px;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.contenup1:hover .validation i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail {
  width: 100%;
  height: 64px;
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-top: 30px;
  margin-left: 3%;
  width: 70%;
}

.menu p {
  font-size: 17px;
  margin-top: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu h4 {
  white-space: nowrap;
  font-size: 16px;
  margin-top: -18px;
  font-weight: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pricemenu {
  font-size: 16px;
  margin-right: 7%;
  margin-top: 30px;
}

.contenup1:hover .pricemenu {
  margin-right: 3%;
}

.validation {
  display: none;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -1%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.validation i {
  display: none;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
  animation: rotate 0.5s both;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22%;
  font-size: x-large;
  color: white;
}

.btncmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btncmd button {
  text-align: center;
  height: 45px;
  border-radius: 25px;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 16px;
  max-width: 280px;
  border-top-color: #ff79da;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #cca7f9;
}

.btncmd button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(187, 31, 178, 0.6);
          box-shadow: 0px 0px 5px 0px rgba(187, 31, 178, 0.6);
}

footer {
  background-color: #2f2e2e;
  font-size: 17px;
}

.contenufooter {
  padding-top: 10px;
  margin-left: 5%;
  color: white;
  padding-bottom: 20px;
}

.contenufooter h4 {
  font-family: 'Shrikhand', cursive;
  font-size: 23px;
}

.titrefooter {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 20px;
}

.titrefooter a {
  text-decoration: none;
}

.f1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-bottom: -20px;
}

.f1 p {
  margin-top: -1px;
  margin-left: 12px;
}

.f2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f2 i {
  margin-top: 18px;
  margin-right: 12px;
}

.mention p {
  margin-top: -3px;
  margin-bottom: -6px;
}

.contact {
  margin-top: 15px;
}

.contact a {
  text-decoration: none;
  color: white;
}

footer i {
  font-weight: 931;
  margin-right: 8px;
}

@media all and (min-width: 1000px) {
  .logo img {
    width: 23%;
    height: 43px;
  }
  #contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .entree::after {
    left: 5.8%;
    top: 125px;
  }
  .entree2::after {
    left: 36.9%;
    top: 125px;
  }
  .entree3::after {
    left: 68%;
    top: 125px;
  }
  .p1 {
    width: 31%;
    margin-right: 2%;
  }
  .p2 {
    width: 31%;
    margin-right: 2%;
    margin-top: -13px;
  }
  .p3 {
    width: 31%;
    margin-top: -13px;
  }
  .partie3 {
    margin-left: 6%;
    margin-right: 6%;
  }
  .menu h4 {
    max-width: 141px;
  }
  .menu p {
    max-width: 161px;
  }
  .contenup1:hover .validation {
    width: 60px;
  }
  .contenufooter {
    padding-top: 10px;
    margin-left: 0%;
    color: white;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenufooter img {
    width: 20%;
  }
  .contenufooter h4 {
    font-size: 23px;
  }
  .f1 {
    margin-top: 26px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .f2 {
    margin-top: 9px;
    margin-right: 30px;
  }
  .mention p {
    margin-top: 27px;
    margin-right: 30px;
  }
  .contact {
    margin-top: 27px;
  }
}

@media all and (min-width: 1200px) {
  .menu h4 {
    max-width: 170px;
  }
  .menu p {
    font-size: 15px;
  }
}

@media all and (min-width: 700px) {
  .logo img {
    width: 33%;
  }
}

@media all and (min-width: 860px) {
  .logo img {
    width: 27%;
  }
}

@media all and (max-width: 420px) {
  .menu h4 {
    max-width: 210px;
  }
}

@media all and (min-width: 1500px) {
  body {
    width: 88%;
    margin-left: 10%;
  }
  header i {
    margin-left: 13%;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(-300px);
    transform: translateY(10px);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.effet-opacity {
  -webkit-animation: opacity 1s both;
  animation: opacity 1s both;
}
/*# sourceMappingURL=cssresto1.css.map */